
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fff5d7;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #ddd;
}

table th, table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #46fd9f;
}

#reports {
    overflow-x: auto;
}

#statuscolor{
    text-decoration: underline;
    color: green;
}